<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=userName%></title>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bodyDark" id="bodyMain">

    <audio id="messageTone" style="display: none;">
        <source src="tone.ogg" type="audio/ogg">
        <source src="tone.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

    <div class="container my-aut">

        <div id="mainBody" class="row p-1 darkBg rounded my-2">
            <div class="sideBar rounded-top darkBg p-2 " id="sideBar">

                <div class="d-flex flex-row align-items-center ">

                    <button class="darkBg border-0 rounded mx-2 pointer " type="button" onclick="sidebarView()"><i
                            class="fa fa-bars"></i></button>

                    <p id="uname" class="m-0 p-0"><%=userName%></p>@
                    <p id="rname" class="m-0 p-0"><%=roomName%></p>
                </div>

                <label id="toggleBtn" class="switch" onchange="dkMode()">
                    <i class="fa fa-sun text-white fa-1x"></i>
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>

            </div>

            <div id="teamDetails" class="collapse  membersList darkBg shadow-lg p-2 mx-2 my-0  rounded my-1 ">
                <p class=" text-center" id="member">Members</p>
                <div id="memberList" class="membersList">

                </div>
                



            </div>

            <div class="my-1 rounded form shadow-lg darkBg p-4 d-flex flex-column col-md mx-2"
                style="width:500px;height:560px" id="userLoginForm">
                <h2 class=" text-center  ">Start Chatting!</h2>
                <div id="chatBox" class="conatiner-fluid bg-success bdRad m-1 p-2"
                    style="height: 80%;overflow-y: scroll;">
                    <div id="messageDiv" class=" bdRad d-flex flex-column justify-content-between rounded p-1 m-1" style="width: fit-content;">
                        <div id="msgInside" class="d-flex flex-row align-items-center justify-content-between">

                            <p id="messageSender" class="text-primary mx-1"
                                style="font-size: 10px; text-align: light;margin:0"></p>
                                <p id="messageTime" class="" style="font-size: 10px; text-align: right;margin:0"></p>
                        </div>
                        <p id="messageBody" class="" style="font-size: 14px; text-align: left;margin:0">
                        </p>
                       
                    </div>
                </div>
                <div id="messageForm">
                    <input type="text" placeholder="Enter your Message!" name="chatMesage"
                        class=" form-control m-1 bg-light br3 p-2 border-0 border-black" id="messageInput" required>
                    <button class="form-control btn-primary m-1" id="messageBtn" type="button" onclick="sendMessage()">Send</button>
                </div>
            </div>

            <form action="/compile" method="POST"
                class=" shadow-lg m-auto rounded form darkBg p-4 d-flex flex-column col-md mx-2" style="width:500px"
                id="userLoginForm">
                <h2 class=" text-center ">Let's Code!</h2>
                <textarea type="text" style="height: 200px;" placeholder="Code"
                    class="form-control border-2 border-light  m-1 darkBg  p-2 "  value="<%=code %>" required name="codeInput" rows="6"
                    id="codeInput"></textarea>
                <button type="submit" class="form-control btn-primary m-1"
                    onclick="codeCompile()"
                    id="codeInputButton" >COMPILE</button>
                <textarea type="text" style="height: 200px;" placeholder="Output"
                    class="form-control m-1 bg-light br3 p-2 border-0 border-black" required readonly value="<%= output %>" name="codeOutput"
                    rows="6" placeholder="Output Comes Here" readonly></textarea>
            </form>

        </div>
    </div>




    <script src="handler.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.min.js"></script>
    <script src="client.js"></script>
   
</body>

</html>